@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
  }

  .hamburger {
    text-decoration: none;
    color: var(--white);
  }

  header.black .hamburger {
    color: var(--dark);
  }

  header.black a {
    color: var(--white);
  }

  .nav-items {
    position: absolute;
    visibility: hidden;
    background-color: var(--third-color);
    top: 0px;
    right: 0;
    height: 70vh;
    width: 200px;
    top: 20px;
    right: 10px;
    border-radius: 20px 0px;
    box-shadow: var(--dark) 0px 5px 15px 5px;
    padding: 40px 20px;
  }

  .fa-xmark {
    margin-top: 20px;
    margin-right: 20px;
  }

  .nav-items ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #navbar {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .special > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .service_cont {
    grid-template-columns: repeat(2, 1fr);
  }

  .special img {
    width: 70%;
  }

  .services {
    padding: 40px;
  }

   .service_cont img {
    width: 70%;
  }

  #footer > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-cont {
    height: 70vh;
  }

  .contact-cont > div > p:nth-child(1) {
    font-size: 60px;
  }
  .contact-cont > div > p:nth-child(2) {
    font-size: 20px;
    
  }

  .about-cont > div > p:nth-child(1){
    font-size: 50px;
  }
  .about-cont > div > p:nth-child(2){
    font-size: 20px;
  }
  .process>p:nth-child(3){
    font-size: 15px;
  }
 
}

@media screen and (max-width: 700px) {
  .special > div {
    grid-template-columns: repeat(1, 1fr);
  }

  .service_cont {
    grid-template-columns: repeat(1, 1fr);
  }

  .aboutus > p:nth-child(1) {
    font-size: 20px;
    max-width: 450px;
  }

  .aboutus > p:nth-child(3) {
    font-size: 13px;
  }

  .special {
    padding: 20px;
  }

  .special > p {
    font-size: 30px;
  }
  .special img {
    width: 80%;
  }

  .services {
    padding: 20px;
  }

  .services > p:nth-child(1) {
    font-size: 30px;
  }

  .service_cont {
    padding: 50px 0px;
  }

  .service_cont img {
    width: 80%;
  }

  .service_cont > div {
    padding: 10px;
    max-width: 400px;
    margin: auto;
  }

  #footer > div {
    grid-template-columns: repeat(1, 1fr);
  }

  #copyright {
    letter-spacing: 1px;
    font-size: 12px;
  }

  .contact-cont {
    height: 60vh;
  }

  .contact-cont > div > p:nth-child(1) {
    font-size: 30px;
  }
  .contact-cont > div > p:nth-child(2) {
    font-size: 17px;
    
  }
  .contact-cont > div > p:nth-child(3),
  .contact-cont > div > p:nth-child(4) {
    font-size: 14px;
  }
  
  .about-cont > div > p:nth-child(1){
    font-size: 40px;
  }
  .about-cont > div > p:nth-child(2){
    font-size: 15px;
  }

  .aboutsec{
    padding: 30px;
  }
  .aboutsec > p:nth-child(1){
    font-size: 50px;
  }

  .process{
    padding: 20px;
  }
  .process>p:nth-child(3){
    font-size: 15px;
  }
 
  
}
